##############
# global
##############

*.DS_Store
Thumbs.db

##############
# Build tools
##############
node_modules
npm-debug.log
.sass-cache


##############
# Build data
##############

release/js/libs
release/css/libs
release/fonts
release/**/*.min.js

release/js/index.js
release/css/index.css

