##############
# global
##############

*.DS_Store
Thumbs.db

##############
# Build tools
##############
node_modules
npm-debug.log
.sass-cache


##############
# Build data
##############

public/libs
public/fonts
public/**/*.min.js

#public/js/index.js
public/js
public/css

